body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #Cae3f1;
  background-image: url(./data/PinClipart.com_free-tree-clipart_156.png), url(./data/PinClipart.com_free-tree-clipart_156flip.png);
  background-position: left top, right top;
  background-size: 300px;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card:hover {
  transform: scale(1.01)
}

.bookshelfButton:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
  transform: scale(0.1);
  top: -210px;
  bottom: 325px;
  left: auto;
  right: -220px;
}

.icon:hover {
  transition: all .1s ease-in-out;
  transform: scale(0.12);
}

.iconDetail {
  position: absolute;
  transform: scale(0.1);
  bottom: 250px;
  right: -210px;
  top: -210px;
  left: auto
}

.iconDetail:hover {
  transition: all .1s ease-in-out;
  transform: scale(0.12);
}

#formButton:hover {
  cursor: pointer;
}

#checkbox:hover {
  cursor: pointer;
}